* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
}

.container {
  width: 1240px;
  margin-inline: auto;
  padding-inline: 20px;
}

.site-header {
  position: fixed;
  background-color: white;
  z-index: 3;
  padding-block: 20px;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  font-size: 30px;
  font-weight: 700;
  color: #00008b;
  text-decoration-line: none;
}

.navbar-list {
  display: flex;
  column-gap: 40px;
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
}

.navbar-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #003b3b;
  text-decoration-line: none;
  transition: color .2s linear, border 0.2s linear, border-radius 0.1s linear;
}

.navbar-link:hover {
  color: #00008b;
  border-radius: 20px;
  border: 1px solid #00008b ;
}

.navbar-link:active {
  color: #00008b;
}

.hero {
  padding-block: 100px;
  background-image: url(./background\ image.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-inner {
  width: 450px;
}

.hero-title {
  margin-block: 0 30px;
  font-size: 50px;
  color: #fff;
}

.title-span {
  color: #008b76;
}

.hero-desc {
  margin-block: 0 30px;
  font-size: 20px;
  color: #dcdcdc;
}

.hero-pic {
  border-radius: 30px;
  transition: transform 0.2s linear;
}

.hero-pic:hover {
  transform: scale(1.1);
}

.hero-pict {
  border-radius: 30px;
  transition: transform 0.2s linear; 
}

.hero-pict:hover {
  transform: scale(1.1);
}

.hero-p {
  position: relative;
  bottom: 250px;
  left: 590px;
  margin-block: 0 30px;
  font-size: 20px;
  color: #dcdcdc;
}

.family {
  display: flex;
  padding-block: 100px;
}

.family-wrapper {
  display: block;
  justify-content: space-between;
  align-items: center;
}

.famly {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.family-pic {
  border-radius: 50px;
  transition: box-shadow .2s linear, transform 0.2s linear;
}

.family-pic:hover {
  box-shadow: 0 4px 4px 4px #e6e6e6;
  transform: scale(1.1);
}

.family-title {
  margin-block: 0 30px;
  font-size: 40px;
  color: #00008b;
}

.family-desc {
  margin-block: 0 40px;
  font-size: 20px;
  color: #c3c3c3;
}

.family-inner {
  width: 400px;
}

.family-titl {
  margin-block: 0 30px;
  font-size: 40px;
  color: #00008b;
}

.family-des {
  
  margin-block: 0 40px;
  font-size: 20px;
  color: #c3c3c3;
}

.father {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.family-pict {
  margin-top: 100px;
  border-radius: 50px;
  transition: box-shadow .2s linear, transform 0.2s linear;
}

.family-pict:hover {
  box-shadow: 0 4px 4px 4px #e6e6e6;
  transform: scale(1.1);
}

.mom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.project {
  padding-block: 100px;
}

.project-title {
  margin-block: 0 50px;
  font-size: 40px;
  color: #00008b;
  text-align: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-block: 0 50px;
  padding-left: 0;
  list-style-type: none;
}

.project-item {
  padding: 30px;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  transition: box-shadow 0.2s linear;
}

.project-item:hover {
  box-shadow: 0 4px 4px 4px gainsboro;
}

.project-link {
  display: block;
  width: 130px;
  margin-inline: auto;
  padding: 10px 20px;
  color: #fff;
  background-color: #00008b;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  text-decoration-line: none;
  transition: color 0.2s linear, border 0.2s linear, background-color 0.2s linear;
}

.project-link:hover {
  color: #00008b;
  background-color: transparent;
  border: 1px solid #00008b;
}

.site-footer {
  padding-block: 100px;
  background-image: linear-gradient(90deg, skyblue,darkblue );
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 30px;
  font-weight: 700;
  color: #00008b;
  text-decoration-line: none;
}



.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
}

.footer-link {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-decoration-line: none;
  transition: rotate 0.3s linear, color 0.3s linear;
}

.footer-link:hover {
 rotate:10deg;
 color: #00008b;
}

.footer-address {
  width: 300px;
  font-style: normal;
}

.footer-desc {
  margin-block: 0;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.iconca {
  display: flex;
  flex-direction: column;
  row-gap: 30px ;
  color: white;
  column-gap: 10px;
}

.fa-instagram {
  display: flex;
  transition: color 0.3s linear , rotate 0.3s linear;
}

.fa-instagram:hover {
  color: rgb(248, 54, 86);
  rotate: 10deg;
}

.fa-telegram {
  display: flex;
  transition: color 0.3s linear , rotate 0.3s linear ;
}

.fa-telegram:hover {
  color: #4b4bf8;
  rotate: 10deg;
}

.fa-facebook {
  display: flex;
  transition: color 0.3s linear , rotate 0.3s linear ;
}

.fa-facebook:hover {
 color: aqua;
 rotate: 10deg;
}

.fa-twitter {
  display: flex;
  transition: rotate 0.3s linear ;
}

.fa-twitter:hover {
  rotate: 10deg; 
}
